#appIcon {
  height: 3rem;
}

#bmac {
  display: flex;
  justify-content: center;
}

#bmac>a {
  display: block;
  width: max-content;
  color: currentColor;
  text-decoration: none;
}

#bmacButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#bmacLogo {
  height: 1.5rem;
}

#bmacText {
  font-size: 1rem;
  padding-left: .5rem;
}