button:disabled {
  display: none;
}

input[type="file"] {
  display: none;
}

#soundButtonHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

audio {
  color-scheme: light;
  color: #050505;
}

audio::-webkit-media-controls-panel {
  background-color: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  audio {
    color-scheme: dark;
  }

  audio::-webkit-media-controls-panel {
    background-color: #4c4c4c;
  }
}